<p class="codepen" data-height="500" data-default-tab="result" data-slug-hash="vYqqqqy" data-pen-title="CSS Challenge: Profile" data-user="zzuhann" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
    <span>See the Pen <a href="https://codepen.io/zzuhann/pen/vYqqqqy">
    CSS Challenge: Profile</a> by zzuhann (<a href="https://codepen.io/zzuhann">@zzuhann</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>